@page
@using MyFirstWebApp.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first Webpage!</h1>
    <p>This is the Web app that I created with ASP.NET Core</p>
</div>

@(await Html.RenderComponentAsync<PersonList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
