@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first Webpage!</h1>
    <p>This is the Web app that I created with ASP.NET Core</p>
</div>

<div class="card-columns">
    @foreach (var person in Model.Persons)
    {
        <div class="card">
            
            <div class="card-body">
                <div class="card-title">
                    <h5>@person.Last_name  @person.First_name</h5>
                </div>
                <p class="card-text">@person.Username</p>
            </div>
        </div>
    }
</div>
