@using Microsoft.AspNetCore.Components.Web
@using MyFirstWebApp.Models
@using MyFirstWebApp.Services
@inject JsonFilePersonService PersonService

<div class="card-columns">
    @foreach (var person in PersonService.GetPersons())
    {
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h5>Name: @person.Last_name  @person.First_name</h5>
            </div>
            <p class="card-text">City: @person.City</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">
                <button @onclick="(e => SelectPerson(person.Id))" class="btn btn-warning">More info</button>
            </small>
        </div>
    </div>
    }
</div>

@code {
    int SelectedPersonId;
    Person SelectedPerson;

    void SelectPerson(int personId)
    {
        SelectedPersonId = personId;
        SelectedPerson = PersonService.GetPersons().First(p => p.Id == SelectedPersonId);
    }
}
